body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,h2,h3,h4{
  margin: 0px !important;
  padding:0px !important;
  padding-bottom: 15px !important;
}

p{
  margin: 0px;
  padding-bottom: 15px;
}

ul{
  margin: 0px;
  padding-bottom: 20px;
  padding-top: 5px;
}

ul li ul{
  margin: 0px;
  padding-bottom: 0px;
  padding-top: 5px;
}

ol{
  margin: 0px;
  padding-bottom: 20px;
  padding-top: 5px;
}

ol li ol{
  margin: 0px;
  padding-bottom: 0px;
  padding-top: 5px;
}

blockquote{
  margin: 0px;
  padding-left: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
}